---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: /tmp

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 0.10.0
    releaseName: external-secrets
    namespace: external-secrets
    valuesInline:
      installCRDs: true

resources:
  - cluster-secret-store.yaml