---
# Environment-specific overrides for Management Cluster
grafana:
  adminPassword: admin
  ingress:
    enabled: false # We will use port-forwarding for now

prometheus:
  prometheusSpec:
    retention: 1d
    resources:
      requests:
        cpu: 100m
        memory: 400Mi
      limits:
        cpu: 500m
        memory: 800Mi

prometheus-node-exporter:
  rbac:
    # This prevents the chart from trying to create the global roles 
    # that are currently causing your "Already Exists" error.
    create: true

prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false

# Disable components we don't need for a local lab to save RAM
alertmanager:
  enabled: false