---
prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
  # This makes the operator itself wait and verify CRDs exist before starting
  crds:
    enabled: true

grafana:
  admin:
    existingSecret: grafana-admin-credentials
    userKey: admin-user
    passwordKey: admin-password
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

prometheus:
  prometheusSpec:
    retention: 1d
    resources:
      requests:
        cpu: 50m
        memory: 200Mi
      limits:
        cpu: 500m
        memory: 800Mi

alertmanager:
  enabled: false