---
prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
  # This makes the operator itself wait and verify CRDs exist before starting
  crds:
    enabled: true

grafana:
  adminPassword: admin
  ingress:
    enabled: false

prometheus:
  prometheusSpec:
    retention: 1d
    resources:
      requests:
        cpu: 100m
        memory: 400Mi
      limits:
        cpu: 500m
        memory: 800Mi

alertmanager:
  enabled: false