apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: /tmp

resources:
  - gateway.yaml
  - argocd-httproute.yaml  

helmCharts:
  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 32.0.0
    releaseName: traefik
    namespace: traefik
    valuesInline:
      providers:
        kubernetesIngress:
          enabled: false
        kubernetesGateway:
          enabled: true
      gateway:
        enabled: false
        namespace: traefik
      service:
        type: NodePort
      ports:
        web:
          nodePort: 30080
        websecure:
          nodePort: 30443
      crds:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          cpu: 200m
          memory: 128Mi